@import "~normalize.css";
@import "roboto.css";

body {
    font-family: 'RobotoItalic', sans-serif;
}

.container {
    padding-top: 5rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}