extends ../layout/main

block variables
    - var title = 'Webpack + Pug'
    - var description = 'description for Webpack + Pug'
    - var PageClass = 'index-page'

block content
  a(href='uikit.html') Other
  #container.col
    h1 Webpack base
    img(src='img/test.jpg')
  hr
  +item('Some block 1', 'some description 1')
  hr
  +item('Some block 2', 'some description 2')
  hr
  +item('Some block 3', 'some description 3')
  hr
  p.block1 Lorem ipsum dolor sit amet <span>consectetur</span> adipisicing elit. Necessitatibus, rerum. Sint excepturi necessitatibus adipisci nostrum amet illo harum nemo illum debitis! Repellat nihil, quas mollitia voluptas cum vitae necessitatibus sequi.
  p.block2 Lorem ipsum dolor sit amet consectetur <span>adipisicing</span> elit. Necessitatibus, rerum. Sint excepturi necessitatibus adipisci nostrum amet illo harum nemo illum debitis! Repellat nihil, quas mollitia voluptas cum vitae necessitatibus sequi.
  p.block3 Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>Necessitatibus</span>, rerum. Sint excepturi necessitatibus adipisci nostrum amet illo harum nemo illum debitis! Repellat nihil, quas mollitia voluptas cum vitae necessitatibus sequi.
  a.btn(href="#") Кнопка