extends ../layout/main-uikit

block variables
    - var title = 'UI kit'
    - var description = 'UI kit'

block content
  //- include ../includes/uikit/pages/colors-types
  include ../includes/uikit/pages/form-elements