/* Vars:
   ========================================================================== */

// Font
$Montserrat: 'Montserrat';
$Quicksand: 'Quicksand';

// Main colors
$dark-shade: #1F2041;
$purple: #BC9CFF;
$green: #6FCF97;