.container
    .container__item
        +square-block('bg-dark-shade', 'Dark Shade 100%', '#1F2041')
        +square-block('bg-dark-shade--75', 'Dark Shade 75%', '#1F2041')
        +square-block('bg-dark-shade--50', 'Dark Shade 50%', '#1F2041')
        +square-block('bg-dark-shade--25', 'Dark Shade 25%', '#1F2041')
        +square-block('bg-dark-shade--5', 'Dark Shade 5%', '#1F2041')
        +square-block('bg-purple', 'Purple', '#BC9CFF')
        +square-block('bg-green', 'Green', '#6FCF97')
    .container__item.container__item-right
        .type-block
            span.type-block__span.h1 H1
            h1  This one is the sub-section or<br> widget title
        .type-block
            span.type-block__span.h2 H2
            h2  Next one is the item title inside<br> widgets
        .type-block
            span.type-block__span.h3 H3
            h3  This is a label or CTA text
        .type-block
            span.type-block__span Body
            p  This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.