.container
    .container__item
      p.label-wrap
        label(for='input-default')  Text field
        span.label-wrap__annotation default
      input.input#input-default(type="email" placeholder='Email')
      p.label-wrap
        label(for='input-focus')  Text field
        span.label-wrap__annotation hover/focus
      input.input.input_active#input-focus(type="text" placeholder='This is pretty awesome')
      p.label-wrap
        label(for='dropdown')  Dropdown
        span.label-wrap__annotation default
      select.input#dropdown
        option(value="0") Сколько гостей
    .container__item
    .container__item