include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="some description", content=description)

  body(class=PageClass)    
    include ../includes/uikit/header
    block content